{% extends 'EzSystemsRepositoryFormsBundle:ContentType:field_types.html.twig' %}

{% block smilecampaigncampaign_field_definition_edit %}
    <div class="smilecampaigncampaign-default-value{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_label(form.defaultValue) -}}
        {{- form_errors(form.defaultValue) -}}
    </div>
{% endblock %}
